<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>Contact</title>

        <link href="https://fonts.gstatic.com" rel="preconnect"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet"
        />

        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/assets/css/bootstrap-icons.css}" rel="stylesheet"/>
        <link th:href="@{/assets/css/boxicons.min.css}" rel="stylesheet"/>
        <link th:href="@{/assets/css/simple-datatables.css}" rel="stylesheet"/>
        <link th:href="@{/assets/css/quill.snow.css}" rel="stylesheet"/>
        <link th:href="@{/assets/css/quill.bubble.css}" rel="stylesheet"/>
        <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    </head>
    <body class="toggle-sidebar">
        <div style="z-index: 999; top: 20px; right: 20px;" class="position-fixed" id="toasts" th:fragment="toasts">
            <div th:if="${param.get('success') != null}" class="toast text-bg-success align-items-center fade show border-0 mb-3"
                 style="z-index: 999; top: 20px; right: 20px;" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" th:text="${param.get('success')}"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.get('error') != null}" class="toast text-bg-danger align-items-center fade show border-0"
                 style="z-index: 999; top: 20px; right: 20px;" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" th:text="${param.get('error')}"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
        <header id="header" class="header fixed-top d-flex align-items-center">
            <a th:href="@{/}">
                <span class="d-none d-lg-block">Absence Manager</span>
            </a>
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item">
                        <a class="btn btn-link" th:href="@{/contacts}">
                            Contacts
                        </a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="btn btn-link" th:href="@{/groupes}">
                            Groupes
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <h5 class="card-title">Contact</h5>
                                <span th:if="${contact.updatedAt != null}"
                                      class="ms-2 badge bg-warning">
                                    Modifié
                                </span>
                            </div>
                            <form method="post" th:action="@{/contacts/{id}/delete(id=${contact.id})}">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>

                        <form class="mt-2" method="post" th:action="@{/contacts/{id}(id=${contact.id})}" th:object="${updateRequest}">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="firstname" class="col-form-label">Prénom</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{firstname}" id="firstname" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="lastname" class="col-form-label">Nom</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{lastname}" id="lastname" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="personal-number-phone" class="col-form-label">Numéro personnel</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{personnalNumber}" id="personal-number-phone" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="professional-number-phone" class="col-form-label">Numéro professionnel</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{professionalNmuber}" id="professional-number-phone" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="personnal-email" class="col-form-label">Email personnel</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{personnalEmail}" id="personnal-email" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="professional-email" class="col-form-label">Email professionnel</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{professionalEmail}" id="professional-email" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="addresse" class="col-form-label">Addresse</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{addresse}" id="addresse" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="genre" class="col-form-label">Genre</label>
                                </div>
                                <div class="col-sm-9">
                                    <select class="form-select" name="genre" id="genre">
                                        <option disabled selected>Choisir un genre...</option>
                                        <option th:each="genre : ${genres}"
                                                th:text="${genre.name}"
                                                th:value="${genre.name()}"
                                                th:selected="${contact.genre == genre} ? 'selected'"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Modifier</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des groupes</h5>
                        <form method="post" th:action="@{/contacts/{id}/groupes/remove(id=${contact.id})}">
                            <div class="table-responsive text-nowrap mt-4">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="group : ${contact.groups}">
                                            <th>
                                                <input type="checkbox" name="groups" th:value="${group.id}" />
                                            </th>
                                            <td th:text="${group.name}"></td>
                                            <td class="d-flex align-items-center justify-content-center">
                                                <a th:href="@{/groupes/{id}(id=${group.id})}" class="btn btn-primary me-2">
                                                    Voir
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-end mt-2">
                                <button type="submit" class="btn btn-danger">
                                    Retirer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/simple-datatables.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</html>